/* assigns the text color and bg color #3D3D3D to tags body and p */
$color: #3D3D3D;
$background: #6D6D6D;

body {
    color: $color;
    background-color: $background;
}

p {
    color: $color;
}

h2 {
    background-color: $background;
}
